---
import type { MarkdownHeading } from 'astro'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import SkillSection from '@/components/about/SkillSection.astro'

const headings: MarkdownHeading[] = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'skills', text: 'Skills' },
  { depth: 2, slug: 'honors-and-awards', text: 'Honors and Awards' },
  // { depth: 2, slug: 'gossips', text: 'Gossips' },
  // { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>
    I'm <strong>Cheng-Ju (Sam) Shih</strong>, also known as <strong>Honor</strong> (handle: <strong>honor2016tw</strong>), an undergraduate student majoring <strong>Electrical Engineering</strong>, with double major in <strong>Computer Science</strong> and <strong>Program of finance</strong> at National Taiwan Normal University.
  </p>

  <p>
    My interests mainly lie in the fields of <strong>Cybersecurity</strong>, <strong>Embedded Systems</strong>, <strong>Computer Vision</strong>, <strong>Financial Technology</strong> and <strong>Full Stack Development</strong>.
  </p>

  <p>
    I enjoy participating in various competitions like: <strong>CTF(Capture The Flag, Competition for Cybersecurity)</strong>, <strong>hackathons</strong>
  </p>

  {/* education */}
  <h2 id='education'>Education</h2>
  <Collapse title='National Taiwan Normal University (2023 - Present)'>
    <ul>
      <li>
        B.S. in <strong><i>Electrical Engineering</i></strong>
      </li>
      <li>
        Double Major in <strong><i>Computer Science</i></strong>
      </li>
      <li>
        <strong><i>Program of Finance</i></strong> 
      </li>
    </ul>
  </Collapse>

  <Collapse title='National Taiwan University (2022 - 2023)'>
    <ul>
      <li>
        B.S. in <strong><i>Bioenvironmental Systems Engineering</i></strong>
      </li>
    </ul>
  </Collapse>

  {/* general-talk */}
  <!-- <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul> -->

  {/* skills */}
  <h2 id='skills'>Skills</h2>
  <SkillSection
    title='Languages'
    skill={[
      {
        name: 'JavaScript',
        href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
        icon: import('@/assets/skills/javascript.svg?raw'),
      },
      {
        name: 'TypeScript',
        href: 'https://www.typescriptlang.org/',
        icon: import('@/assets/skills/typescript.svg?raw'),
      },
      {
        name: 'Python',
        href: 'https://www.python.org/',
        icon: import('@/assets/skills/python.svg?raw'),
      },
      {
        name: 'C/C++',
        href: 'https://isocpp.org/',
        icon: import('@/assets/skills/cpp.svg?raw'),
      },
      {
        name: 'Golang',
        href: 'https://golang.org/',
        icon: import('@/assets/skills/go.svg?raw'),
      }
    ]}
  />

  {/* honors-and-awards */}
  <h2 id='honors-and-awards'>Honors and Awards</h2>
  <Collapse title='CTF Achievements'>
    <Timeline
      events={[
        {
          date: '2024-05-18',
          content: ''
        }
      ]}
    />
  </Collapse>

  <Collapse title='Hackathon Achievements'>
    <Timeline
      events={[
        {
          date: '2024-05-18',
          content: ''
        }
      ]}
    />
  </Collapse>
  {/* tools */}
  <!-- <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  /> -->

  {/* social-networks */}
  <!--  <h2 id='social-networks'>Social Networks</h2> 
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/honor2016tw',
        text: 'followers',
        api: 'github/cworld1'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/cworld0_cn',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/cworld',
        text: 'games',
        api: 'steamgames/76561199021278120'
      }
    ]}
  /> -->

  {/* gossips */}
  <!-- <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse> -->

  <!-- {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2024-07-26',
        content:
          'Website abstracted as a theme and published on <a href="https://github.com/cworld1/astro-theme-pure"target="_blank">Github</a>'
      },
      {
        date: '2024-07-27',
        content: 'Began writing website docs'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul> -->
</PageLayout>
